@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    font-family: "Roboto Bold", sans-serif;

}

ul {
    margin-bottom: 0;
}

.headerContactInfo {
    background-color: #1a1e2c;
    color: #ffffff;
    padding: 10px 0;
}

div.headerContactInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
}

.headerContactInfo > div > ul {
    margin-left: 10px;
}

.headerContactInfo > div > ul > li {
    list-style-type: none;
}

div.headerAddress {
    display: inline-flex;
    align-items: center;
}

div.headerAddress > ul {
    padding: 0 25px;
}

i.fa-envelope, i.fa-phone, i.fa-map-marker {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    background-color: #fcbe16;
    padding: 5px 7px;
    float: left;
}

i.fa-envelope {
    font-size: 24px;
}

i.fa-phone {
    font-size: 30px;
}

i.fa-map-marker {
    font-size: 30px;
    padding: 5px 10px;
}

i.fa-vk, i.fa-twitter, i.fa-facebook {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 18px;
    position: relative;
    color: #1a1e2c;
}

i.fa-vk:hover, i.fa-twitter:hover, i.fa-facebook:hover {
    color: #265a88;
}

i.fa-vk:before, i.fa-twitter:before, i.fa-facebook:before {
    position: absolute;
}

i.fa-vk:before {
    top: 4px;
    right: 4px;
}

i.fa-facebook:before {
    top: 8px;
    left: 6px;
    font-size: 20px;
}

i.fa-twitter:before {
    top: 5px;
    right: 4px;
}

div.navbar-header > a > img {
    padding-left: 40px;
}

div.headerMenu > nav {
    margin: 0;
    border: none;
}

#headerMenu > ul {
    font-size: 18px;
}

#headerMenu > ul > li {
    padding: 50px 10px;
    text-transform: uppercase;

}

#headerMenu {
    padding: 0;
}

#headerMenu > ul > li > a {
    padding: 0 10px;
    color: #1a1e2c;
}

div.yourVacation {
    background: url("../img/mainContentBg.png") no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.yourVacation h1, .yourVacation h2, .yourVacation div {
    margin: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.yourVacation h2 {
    font-size: 36px;
}

.yourVacation h1 {
    font: 48px "Roboto Light", sans-serif;
}

.yourVacation div {
    font: 36px 'Tahoma', sans-serif;
    padding: 150px 10px 0 10px;
}

div.marmaris, div.sharm, div.male, div.cyprus, div.samoa {
    height: 187px;

}

.slick-track {
    padding: 20px 0;
}

div.hotTour.slick-initialized.slick-slider {
    margin: 0px 10px 30px 10px;
}

body > div.mainContent > div.hotTour.slick-initialized.slick-slider > div > div > div > a > img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -2px -2px 17px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px -2px 17px 0 rgba(0, 0, 0, 0.35);
    box-shadow: -2px -2px 17px 0 rgba(0, 0, 0, 0.35);
}

body > div.mainContent > div.hotTour.slick-initialized.slick-slider > div > div > div > a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    padding: 10px 20px;
    transition: all .1s linear 0s;

}

body > div.mainContent > div.hotTour.slick-initialized.slick-slider > div > div > div > a:hover {
    transform: scale(1.2);
    cursor: url("../img/yourVacationCursor.png"), auto;

}

body > div.mainContent > div.hotTour.slick-initialized.slick-slider > div > div > div > a > span {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    color: #ffffff;
}

div.hotTour.slick-initialized.slick-slider > div > div > div > a > span > span {
    display: block;
}

div.hotTour.slick-initialized.slick-slider > div > div > div > a > span > span:last-child {
    color: #fcbe16;
    margin-bottom: 5px;
}

div.hotTour.slick-initialized.slick-slider > button {
    visibility: hidden;
}

div.travelGallery > div > div > img {
    width: 100%;
    padding: 0;
}

div.travelGallery > div > div {
    padding: 0;
    position: relative;
}

div.allCountries {
    background-color: #1a1e2c;
    text-align: center;
    font: 30px "Tahoma";
    text-transform: lowercase;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.flexible {
    display: flex;
}

div.col-md-6.col-xs-12.allCountries > div {
    margin: auto;
    padding: 50px 0;
}

div.allCountries > div > a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 24px;
}

div.imgHovered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: url("../img/yourVacationCursor.png"), auto;
}

.imgHovered > span, .imgHovered > a {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    color: #ffffff;
    transition: all .1s linear 0s;
    text-align: center;
    font-size: 30px;
}

.imgHovered > span:nth-child(2) {
    font-size: 18px;
    visibility: hidden;
    transition: all .1s linear 0s;
}

.imgHovered > a {
    visibility: hidden;
    bottom: -100%;
    font-size: 17px;
    border: 1px solid #fcbe16;
    border-radius: 10px;
    padding-bottom: 30px;
    margin: auto 60px;
}

.imgHovered:hover > span:nth-child(1) {
    bottom: 90px;
    text-decoration: underline;
}

.imgHovered:hover > span:nth-child(2) {
    visibility: visible;
}

.imgHovered:hover > a {
    visibility: visible;
    bottom: -60px;

}

.imgHovered > * {
    position: absolute;
}

div.offersSlider {
    margin: 20px 40px;
    text-align: center;
}

div.bestOffers > div > div > div > div > a > img {
    width: 100%;
    height: 100%;
}

.offersSlider div {
    height: 365px;
}

div.bestOffers > div > div > div > div {
    padding: 20px;
}

div.bestOffers > div > div > div {
    padding: 0;
}

div.bestOffers > div > button.slick-prev.slick-arrow {
    background: url("../img/leftArrow.png") no-repeat;
    background-size: cover;
    height: 35px;
    width: 22px;
}

div.bestOffers > div > button.slick-next.slick-arrow {
    background: url("../img/rightArrow.png") no-repeat;
    background-size: cover;
    height: 35px;
    width: 22px;
}

div.bestOffers > div > button.slick-prev.slick-arrow:before, div.bestOffers > div > button.slick-next.slick-arrow:before {
    content: '';

}

div.bestOffers {
    background: url("../img/bestOffersBackground.png") no-repeat;
    background-size: cover;
    padding: 130px 0 75px 0;
}

.bestOffers > h2 {
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

div.bestOffers > div > div > div > div > a > span {
    display: block;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

}

div.bestOffers > div > div > div > div > a > span > span {
    display: block;
}

body > div.mainContent > div.bestOffers > div > div > div > div > a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    -webkit-box-shadow: -2px -2px 17px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px -2px 17px 0 rgba(0, 0, 0, 0.35);
    box-shadow: -2px -2px 17px 0 rgba(0, 0, 0, 0.35);
}

div.bestOffers > div > div > div > div > a > span > span {
    font: 24px 'Tahoma', sans-serif;
    color: #000000;
}

div.bestOffers > div > div > div > div > a > span > span:nth-child(1) {
    padding-top: 15px;
    font-weight: bold;
}

div.bestOffers > div > div > div > div > a > span > span:nth-child(2) {
    padding-bottom: 15px;
}

div.bestOffers > div > div > div > div > a > span.price {
    display: block;
    background-color: #ffb619;
    position: absolute;
    top: 20px;
    right: 165px;
    text-align: right;
    bottom: auto;
    padding: 10px 30px;
    color: #ffffff;
}

div.bestOffers > div > div > div > div > a > span.price:before {
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 18px;
    background: url("../img/aeroplane.png");
    background-size: cover;
}

.tourOperatorSlider div {
    height: 90px;
}

div.tourOperatorSlider {
    margin: 30px 40px;

}

div.operators {
    font: 24px 'Tahoma', sans-serif;
    margin: 150px 200px 0 200px;
    text-align: center;
}

div.footer {
    text-align: center;
    padding: 30px;
    background-color: #1a1e2c;
    color: #ffffff;
    font: 18px 'Tahoma', sans-serif;
}

div.footer > div > div {
    margin-top: 15px;
}

div.headerMenu > nav > div > div.navbar-header > button {
    margin-top: 35px;
}

.navbar-nav {
    margin: 0;
}
div.travelGallery{
    padding-top: 100px;
}

@media screen and (max-width: 1199px) {
    #headerMenu > ul {
        font-size: 14px;
    }

    #headerMenu > ul > li {
        padding: 50px 0;
    }

    div.navbar-header > a > img {
        padding-left: 0;
    }

    .yourVacation div {
        padding: 60px 10px 0 10px;
    }

    div.yourVacation {
        padding: 60px 0;
    }

    .yourVacation h2, .yourVacation div {
        font-size: 28px;

    }

    .yourVacation h1 {
        font-size: 36px;
    }

    div.operators {
        margin: 80px 100px 0 100px;
        font-size: 20px;
    }

    div.bestOffers > div > div > div > div > a > span > span {
        font-size: 20px;
    }

    .imgHovered > span {
        font-size: 25px;
    }

    .bestOffers > h2 {
        font-size: 28px;
    }

    div.allCountries {
        font-size: 28px;
    }

    div.bestOffers {
        padding: 70px 0 30px 0;
    }

}

@media screen and (max-width: 855px) {
    #headerMenu > ul {
        font-size: 13px;
    }

    div.yourVacation {
        background-size: contain;
    }

}

@media screen and (max-width: 849px) {
    #headerMenu > ul > li {
        padding: 10px;
        font-size: 15px;
    }

    .yourVacation div {
        padding: 80px 0;
    }

    div.yourVacation {
        padding: 40px 0;
    }

    .yourVacation h1 {
        font-size: 26px;
    }

    .yourVacation h2, .yourVacation div {
        font-size: 18px;

    }

    div.operators {
        margin: 20px 40px 0 40px;
        font-size: 17px;
    }
}

@media screen and (max-width: 680px) {
    .yourVacation div {
        padding: 0;
    }

    div.yourVacation {
        padding: 80px 0;
    }


    div.operators {
        margin: 10px 20px 0 20px;
        font-size: 15px;
    }

    .yourVacation h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 440px) {
    .yourVacation div {
        padding: 20px 0;
    }

    div.bestOffers, div.col-md-6.col-xs-12.allCountries > div {
        padding: 10px 0
    }
    div.yourVacation {
        padding: 20px 0;
    }


}